# tSNE

In [1]:
import os
import pandas as pd
from sklearn import manifold

In [3]:
# Load VAE feature activations per sample
encoded_file = os.path.join('data', 'encoded_methyl_onehidden_warmup_batchnorm_300K-100.tsv')
encoded_df = pd.read_table(encoded_file, index_col=0)
encoded_df.head(2)

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
GSM2861662,5.947526,34.375385,0.0,4.220823,0.000000,0.0,19.011850,42.665024,0.0,39.823257,...,15.687261,22.935846,0.0,15.642307,25.124189,18.726637,3.431563,1.38991,0.0,17.812031
GSM2861663,10.959908,35.264423,0.0,4.886783,3.399594,0.0,19.096769,38.699020,0.0,40.593483,...,17.086105,18.846109,0.0,10.880091,29.817781,14.119362,0.000000,0.00000,0.0,16.979128

In [4]:
# Load Zero-One transformed (min-max scaled) methylation data
methyl_file = os.path.join('data', 'test_data_top300kMAD_cpg.tsv')
methyl_df = pd.read_table(methyl_file, index_col=0)
print(methyl_df.shape)
methyl_df.head(2)
methyl_df2 = methyl_df

(16, 300000)

In [6]:
# Perform t-SNE on VAE encoded_features
tsne = manifold.TSNE(n_components=3, init='pca', random_state=0, perplexity=20,
                     learning_rate=300, n_iter=400)
tsne_out = tsne.fit_transform(encoded_df)
tsne_out = pd.DataFrame(tsne_out, columns=['1', '2', '3'])
tsne_out.index = encoded_df.index
tsne_out.index.name = 'sample_id'
#tsne_out_file = os.path.join('results', 'vae_tsne_out_100K-10.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_100K-100.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_10K-100.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_300K-1000_2d.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_300K-1000_3d.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_300K-100_2d.tsv')
tsne_out_file = os.path.join('results', 'vae_tsne_out_300K-100_3d.tsv')
tsne_out.to_csv(tsne_out_file, sep='\t')
tsne_out.head(2)

                     1           2           3
sample_id
GSM2861662 -606.308777  378.625427 -177.605759
GSM2861663  161.546326  -18.507435 -168.542801

In [7]:
# Perform t-SNE on methyl features
tsne = manifold.TSNE(n_components=2, init='pca', random_state=0, perplexity=20,
                     learning_rate=300, n_iter=400)
tsne_out = tsne.fit_transform(methyl_df2)
tsne_out = pd.DataFrame(tsne_out, columns=['1', '2'])
tsne_out.index = methyl_df2.index
tsne_out.index.name = 'sample_id'
#tsne_out_file = os.path.join('results', 'methyl_tsne_out_100K.tsv')
tsne_out_file = os.path.join('results', 'methyl_tsne_out_300K.tsv')
tsne_out.to_csv(tsne_out_file, sep='\t')
tsne_out.head(2)

                     1           2
sample_id
GSM2861662  354.174744  -56.613831
GSM2861663 -432.072754  328.182068