# tSNE

In [1]:
import os
import pandas as pd
from sklearn import manifold

In [2]:
# Load VAE feature activations per sample
encoded_file = os.path.join('data', 'encoded_methyl_onehidden_warmup_batchnorm_300K-100.tsv')
encoded_df = pd.read_table(encoded_file, index_col=0)
encoded_df.head(2)

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
7796806090_R04C01,0.124320,0.838770,4.737876,0.340383,0.000000,1.647174,2.034410,1.449444,0.304805,0.084453,...,0.000000,0.183515,0.0,0.0,0.000000,0.103202,0.0,2.077231,0.000000,0.0
6285633051_R04C01,1.148294,1.759616,4.312160,1.422947,0.034192,0.983252,1.417705,1.806069,1.258017,1.456273,...,0.033338,0.090839,0.0,0.0,0.184078,0.387220,0.0,1.349058,1.176459,0.0

In [8]:
# Load Zero-One transformed (min-max scaled) methylation data
methyl_file = os.path.join('data', 'TCGA_BRCA_top300kMAD_cpg.tsv')
# methyl_df = pd.read_table(methyl_file, index_col=0)
print(methyl_df.shape)
methyl_df.head(2)
methyl_df2 = methyl_df

(862, 300000)

In [5]:
# Perform t-SNE on VAE encoded_features
tsne = manifold.TSNE(n_components=2, init='pca', random_state=0, perplexity=20,
                     learning_rate=300, n_iter=400)
tsne_out = tsne.fit_transform(encoded_df)
tsne_out = pd.DataFrame(tsne_out, columns=['1', '2'])
tsne_out.index = encoded_df.index
tsne_out.index.name = 'sample_id'
#tsne_out_file = os.path.join('results', 'vae_tsne_out_100K-10.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_100K-100.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_10K-100.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_300K-1000_2d.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_300K-1000_3d.tsv')
tsne_out_file = os.path.join('results', 'vae_tsne_out_300K-100_2d.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_300K-100_3d.tsv')
tsne_out.to_csv(tsne_out_file, sep='\t')
tsne_out.head(2)

                          1         2
sample_id
7796806090_R04C01 -6.711664  0.617155
6285633051_R04C01 -3.045896 -0.775805

In [10]:
# Perform t-SNE on methyl features
tsne = manifold.TSNE(n_components=2, init='pca', random_state=0, perplexity=20,
                     learning_rate=300, n_iter=400)
tsne_out = tsne.fit_transform(methyl_df2)
tsne_out = pd.DataFrame(tsne_out, columns=['1', '2'])
tsne_out.index = methyl_df2.index
tsne_out.index.name = 'sample_id'
#tsne_out_file = os.path.join('results', 'methyl_tsne_out_100K.tsv')
#tsne_out_file = os.path.join('results', 'methyl_tsne_out_300K.tsv')
tsne_out.to_csv(tsne_out_file, sep='\t')
tsne_out.head(2)

                           1          2
sample_id
7796806090_R04C01 -33.541227 -12.997292
6285633051_R04C01 -10.087754  -5.179166