# tSNE

In [19]:
import os
import pandas as pd
from sklearn import manifold

In [28]:
# Load VAE feature activations per sample
encoded_file = os.path.join('data', 'encoded_methyl_onehidden_warmup_batchnorm_10K-100.tsv')
encoded_df = pd.read_table(encoded_file, index_col=0)
encoded_df.head(2)

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
7796806090_R04C01,0.588472,0.0,0.000000,0.291811,1.533764,0.378847,0.765657,0.0,1.585387,1.894962,...,0.00000,0.109457,1.835179,2.652886,0.000000,0.000000,0.0,1.409629,0.420136,1.044989
6285633051_R04C01,0.000000,0.0,0.520279,0.000000,0.876102,0.000000,0.000000,0.0,0.000000,0.447487,...,0.67296,0.000000,0.939710,1.538189,0.489965,0.535403,0.0,0.384011,0.563431,0.949218

In [21]:
# Load Zero-One transformed (min-max scaled) RNAseq data
methyl_file = os.path.join('data', 'TCGA_BRCA_top100000MAD_cpg.tsv')
# methyl_df = pd.read_table(methyl_file, index_col=0)
print(methyl_df.shape)
methyl_df.head(2)
methyl_df2 = methyl_df

(862, 100000)

In [29]:
# Perform t-SNE on VAE encoded_features
tsne = manifold.TSNE(n_components=2, init='pca', random_state=0, perplexity=20,
                     learning_rate=300, n_iter=400)
tsne_out = tsne.fit_transform(encoded_df)
tsne_out = pd.DataFrame(tsne_out, columns=['1', '2'])
tsne_out.index = encoded_df.index
tsne_out.index.name = 'sample_id'
#tsne_out_file = os.path.join('results', 'vae_tsne_out_100K-10.tsv')
#tsne_out_file = os.path.join('results', 'vae_tsne_out_100K-100.tsv')
tsne_out_file = os.path.join('results', 'vae_tsne_out_10K-100.tsv')
tsne_out.to_csv(tsne_out_file, sep='\t')
tsne_out.head(2)

                          1         2
sample_id
7796806090_R04C01  6.236495  2.015430
6285633051_R04C01  1.783892 -0.878865

In [24]:
# Perform t-SNE on methyl features
tsne = manifold.TSNE(n_components=2, init='pca', random_state=0, perplexity=20,
                     learning_rate=300, n_iter=400)
tsne_out = tsne.fit_transform(methyl_df2)
tsne_out = pd.DataFrame(tsne_out, columns=['1', '2'])
tsne_out.index = methyl_df2.index
tsne_out.index.name = 'sample_id'
#tsne_out_file = os.path.join('results', 'methyl_tsne_out_100K.tsv')
tsne_out.to_csv(tsne_out_file, sep='\t')
tsne_out.head(2)

                           1          2
sample_id
7796806090_R04C01 -30.561666  11.917829
6285633051_R04C01  -7.308616   1.793495